#container {
    display: flex;
    width: 800px;
    height: 800px;
    border: 2px solid red;
    flex-wrap: wrap;
}

.grid-square {
    height: 196px;
    width: 196px;
    border: 2px solid red;

}